@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  height: 1000px;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #ff8f07e6;
  background-image: linear-gradient(#ffcd00, #35afa0);
  border-radius: 2px;
}
/* prevent scroll bar */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@theme {
    --color-primaryColor: #35AFA0;
    --color-blackColor: #3E445A;
    --color-footerBg: #F7F8FD;
    --color-graycolor : #9B9BB4;
    --color-blog-text :#202435,
}

.post-text {
  @apply text-blog-text w-9/12 text-[12px] font-medium md:text-[16px];
}
.badget {
  @apply bg-primaryColor absolute top-0 left-7 flex h-[20px] w-[20px] cursor-pointer items-center justify-center rounded-full border border-l-2 border-l-white text-white;
}

.social-style {
  @apply flex w-[48%] cursor-pointer items-center gap-5 rounded-md p-2.5 text-[14px] text-white sm:w-full;
}
.li-style {
  @apply mt-5 w-[31%];
}
